<h1>Service requests you can apply</h1>


<div class="container mx-2 p-2">
    <% @templates.each do |template| %>
        <%= link_to template.name , new_service_request_path(:temp_id => template.template_id) %>
        <br>
    <%end%>
</div>