<h1>Editing service request</h1>

<%= render "form", service_request: @service_request %>

<br>

<div>
  <%= link_to "Show this service request", @service_request %> |
  <%= link_to "Back to service requests", service_requests_path %>
</div>
